body {
  font-family: "Segoe UI";
  margin: auto;
  margin-bottom: 30px;
  width: 73%;
}

h1 {
  background: #2b2b2b;
  padding: 20px 10px;
  color: white;
  font-weight: 300;
}

table {
  margin: auto;
  border-collapse: collapse;
}

div > table {
  overflow: hidden;
  border-radius: 0.6em;
}
tr,
td,
th {
  border-bottom: solid 3px white;
  padding: 10px;
}

div table th:nth-of-type(2) {
  font-size: small;
}

tr.successful > th {
  background: rgb(65, 183, 114);
}
tr.successful {
  background-color: rgb(116, 207, 151);
}

tr.failed {
  background-color: rgb(255, 140, 140);
}

tr.failed > th {
  background-color: #f05858;
}

tr.successful td::before {
  content: "✅ ";
}

tr.failed td::before {
  content: "❌ ";
}
body > p {
  padding-left: 15px;
  font-size: 0.8em;
  display: inline;
}

table.xspecResult {
  width: 80%;
}
table.xspecResult,
table.xspecResult tr,
table.xspecResult td,
table.xspecResult th {
  border: solid 1px black;
  border-collapse: collapse;
}

span.scenario-totals {
  display: block;
  font-size: small;
}

h2 {
  margin-left: 10px;
}

div#basic-info {
  display: flex;
  font-size: small;
}
div#basic-info a {
  color: #2878be;
}
div#basic-info p {
  flex: 1;
}
div#basic-info p:nth-child(2) {
  text-align: center;
}
div#basic-info p:nth-child(3) {
  text-align: right;
}
